include *.rst
include *.py
include *.cfg
include pyfft/*.mako
include test/*.py
include cuda/*.cu
include cuda/*.h
include cuda/*.cuh
include cuda/Makefile
include examples/*.py
include doc/source/*.rst
include doc/source/*.py
include doc/Makefile

